%li.question_count{style:"float:left; font-size:18px; font-weight:thin; color:#6996CF; padding:5px 0 0 10px;"}
  = @questions.count 
  questions
  
-if current_group.languages.count > 1
  %li{style: "float:right"}
    %label#lang-select-toggle{"data-language"=>change_language_filter_path}
      = render "shared/language_filter"  

%div{style: "float:right"}
  %label
    = t('global.sort_by')   
  %li.votes
    -if @active_subtab=="votes"
      = pjax_link_to "#{t("questions.index.votes")} ▾", "index", url_for(params.merge(questions_link).merge(:sort=>"votes")), :title => t("questions.index.votes_tooltip"), :rel => "nofollow"
    -elsif
      = pjax_link_to t("questions.index.votes"), "index", url_for(params.merge(questions_link).merge(:sort=>"votes")), :title => t("questions.index.votes_tooltip"), :rel => "nofollow"
  %li.newest
    -if @active_subtab=="newest"
      = pjax_link_to "#{t("questions.index.newest")} ▾", "index", url_for(params.merge(questions_link).merge(:sort=>"newest")), :title => t("questions.index.newest_tooltip"), :rel => "nofollow"
    -elsif
      = pjax_link_to t("questions.index.newest"), "index", url_for(params.merge(questions_link).merge(:sort=>"newest")), :title => t("questions.index.newest_tooltip"), :rel => "nofollow"
  %li.activity
    -if @active_subtab=="activity"
      = pjax_link_to "#{t("questions.index.active")} ▾", "index", url_for(params.merge(questions_link).merge(:sort=>"activity")), :title => t("questions.index.active_tooltip"), :rel => "nofollow"
    -elsif
      = pjax_link_to t("questions.index.active"), "index", url_for(params.merge(questions_link).merge(:sort=>"activity")), :title => t("questions.index.active_tooltip"), :rel => "nofollow"  
  %li.hot
    -if @active_subtab=="hot"
      = pjax_link_to "#{t("questions.index.hot")} ▾", "index", url_for(params.merge(questions_link).merge(:sort=>"hot")), :title => t("questions.index.hot_tooltip"), :rel => "nofollow"
    -elsif
      = pjax_link_to t("questions.index.hot"), "index", url_for(params.merge(questions_link).merge(:sort=>"hot")), :title => t("questions.index.hot_tooltip"), :rel => "nofollow"
  %li.answers
    -if @active_subtab=="answers"
      = pjax_link_to "#{t("questions.index.answers")} ▾", "index", url_for(params.merge(questions_link).merge(:sort=>"answers")), :title => t("questions.index.answers_tooltip"), :rel => "nofollow"
    -elsif
      = pjax_link_to t("questions.index.answers"), "index", url_for(params.merge(questions_link).merge(:sort=>"answers")), :title => t("questions.index.answers_tooltip"), :rel => "nofollow"










