-if @user
  The user #{@user.login} <#{@user.email}> send a feedback.
-else
  = t("notifier.new_feedback.message2", :ip => @ip)
==
= t("notifier.new_feedback.message3", :email => h(@email))
==
= t("notifier.new_feedback.message4", :subject => h(@subject))
==
Content: 
= @content