.top
  %h1
    = t("badges.index.title")
  %p.description= t("badges.index.description")

.badges
  %table
    - @badges.sort_by{|b| b.name}.each do |badge|
      %tr
        %td
          .badge_item
            -link_params = {:id => badge.token}
            -if badge.for_tag
              -link_params[:type] = badge.type

            = pjax_link_to badge.name, "badges", badge_path(link_params), {:class => "badge #{badge.type}", :title => badge.description}
            .counter
              == × #{Badge.count(badge["token"], current_group)}
        %td
          .badge_description
            =badge.description
