#login_dialog.top-bar{'data-title' => t('devise.sessions.link')}
  %ul.auth-list
    %li
      = render "shared/login_drop_down"
#join_dialog.hide{'data-title' => t('layouts.application.join_group', :group => current_group.name)}
  = link_to t('layouts.application.not_member_join_dialog', :group => current_group.name), join_groups_path , :id => 'join_dialog_link'
%footer 
  %p
    / !!!!!!!!!!!! DO NOT REMOVE LINK TO SOURCE CODE AND LICENSE !!!!!!!!!!!!!
    Copyright © 2012 Ask All Rights Reserved by IID

  .feedback{:style => "display:none"}
    = render :partial => "welcome/feedback"

  = render "shared/layout/javascript"
  = render "shared/layout/websocket"
  - if current_group.shapado_version.has_custom_js?
    - if current_group.current_theme.has_js
      %script{type: 'text/javascript'}
        =raw current_group.current_theme.javascript.read
